@import "tailwindcss";

@font-face {
  font-family: 'WsParadose';
  src: url("/font/WsParadose.ttf");
}
@font-face {
  font-family: 'Kamal';
  src: url("/font/Kamal.woff2");
}
 
body {
  font-family: 'WsParadose','Kamal', sans-serif;
}
